.pink-button {
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  transition: all 0.05s linear;
}

.pink-button:active {
  opacity: 0.6;
  transform: scale(1.2);
}

.burger--button {
  background: url('/img/burger.svg') no-repeat 50% 50%;
}

.back--button {
  background: url('/img/back.svg') no-repeat 50% 50%;
}

.search--button {
  background: url('/img/search.svg') no-repeat 50% 50%;
}

.phone--button {
  background: url('/img/phone.svg') no-repeat 50% 50%;
}

.massage--button {
  background: url('/img/massage.svg') no-repeat 50% 50%;
}

.profile--button {
  background: url('/img/profile.svg') no-repeat 50% 50%;
}

.repair--button {
  background: url('/img/repair.svg') no-repeat 50% 50%;
}

.checkstatus--button {
  background: url('/img/checkstatus.svg') no-repeat 50% 50%;
}
