$bodyBg: #f8f8f8;
$linkText: black;
$linkActive: #7e7e82;
$modalBG: rgba(255, 255, 255, 0.9);
$modalBoxBG: white;
$beforeElem: #41f6d7;
$modalBorder: #41f6d7;
$inputBorder: #eaeaea;
$modalInfo: #7e7e82;
$modalSpan: #ff3e79;
$sendorderBtnText: White;
$sendorderBtnBG: #ff3e79;
$headerBorder: #d9fff5;
$headerBG: white;
$headerDevider: rgb(234, 234, 234);
$menuText: #7e7e82;
$menuBorder: #f8f8f8;
$menuHoverBorder: #b8ffec;
$menuHoverBG: white;
$pagination: rgb(221, 221, 221);
$paginationActive: rgb(181, 182, 188);
$sectionLinkBorder: rgb(234, 234, 234);
$sectionBorder: rgb(217, 255, 245);
$priceItemTitle: #82807e;
$priceItemListBG: white;
$sectionDevider: #eaeaea;
$sectionTitleText: rgb(126, 126, 130);
$footerText: #7e7e82;
$btnShadow: red;
